.lead__title {
  font-family: Inter sans-serif Arial;
  max-width: 720px;
  max-height: 200px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 32px;
}

@media screen and (max-width: 1280px) {
  .lead__title {
    max-width: calc(100% - 148px * 2);
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .lead__title {
    max-width: calc(100% - 148px * 2);
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: calc(100% - 24px * 2);
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: calc(100% - 16px * 2);
    margin: 0 auto;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
  }
}
