.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 8%;
    padding-bottom: 8%;
}

@media screen and (max-width: 1280px) {
  .intro {
      
      margin-left: 47px;
  }
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 0;
    }
  }

  @media screen and (max-width: 320px) {
    .intro {
        justify-content: space-around;
        display: inline-block;
        margin: 0;
    }
  }