.intro {
  display: flex;
  flex-direction: column;
  /*justify-content: flex-start;*/
  /*align-items: flex-start;*/
  max-width: calc(100% - 148px * 2);
  margin: 0 auto;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: calc(100% - 48px * 2);
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: calc(100% - 24px * 2);
  }
}

@media screen and (max-width: 320px) {
  .intro {
    justify-content: space-around;
    display: inline-block;
    margin-left: 16px;
    padding-bottom: 64px;
  }
}
