.cover {
  max-width: 100%;
  margin: 0 48px;
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 640px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
