.place__link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box min-height, or 122% */
  text-decoration-line: underline;
  color: #ffffff;
  align-self: end;
}

.place__link:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
