.place__website {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-self: end;
}

.place__website:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

@media screen and (max-width: 320px) {
  .place__website {
    display: none;
  }
}
